

<h1><%= @article.title %></h1>
<p>Content: <%= @article.content %></p>


<%= link_to articles_path do %>
<i class="fa-regular fa-circle-left"></i>
<% end %>

<%= link_to edit_article_path do %>
<i class="fa-solid fa-pencil"></i>
<% end %>

<%= link_to article_path(@article), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
<i class="fa-solid fa-trash-can"></i>
<% end %>
